{% extends "base.html" %}
{% load dashboard_tags %}

{% block content %}
<section>
    {% remote_images_widget %}
</section>
<section class="widget">

    <h4>News Stream</h4>
    <table class="compactTable">
	{% for date, items in stream.items %}
        <tr>
	    <td class="streamKey" rowspan="{{ items|length }}">
	        {{ date|date:"l j M" }}
	    </td>
	    {% for item in items %}
	        {# little craziness due to rowspan #}
	        {% if not forloop.first %}<tr>{% endif %}
		    <td nowrap="nowrap">{{ item.time|date:"P" }}</td>
		    <td><a href="{{ item.url }}">{{ item.value }}</a></td>
	        </tr>
	    {% endfor %}
	{% endfor %}
    </table>

</section>

<section class="widget">
    <h4>Monit Status</h4>
    <table>
	{% for row in monit_table %}
	<tr>
            {% for column in row %}
	    <td>
		{{ column }}
	    </td>
	    {% endfor %}
	</tr>
        {% endfor %}
    </table>
</section>

{% endblock %}
