{% extends "base.html" %}
{% load dashboard_tags %}

{% block content %}
<section>
    {% remote_images_widget %}
</section>

<section class="widget">
    <h4>News Stream</h4>
    <table class="compactTable">
	{% for date, items in stream.items %}
        <tr>
	    <td class="streamKey">{{ date|date:"l j M" }}</td>
	    <td>
		<table class="compactTable">
		    {% for item in items %}
		    <tr>
			<td nowrap="nowrap">{{ item.time|date:"P" }}</td>
			<td><a href="{{ item.url }}">{{ item.value }}</a></td>
		    </tr>
	            {% endfor %}
		</table>
	    </td>
	</tr>
	{% endfor %}
    </table>

</section>

<section class="widget">
    <h4>Monit Status</h4>
    <table>
	{% for row in monit_table %}
	<tr>
            {% for column in row %}
	    <td>
		{{ column }}
	    </td>
	    {% endfor %}
	</tr>
        {% endfor %}
    </table>
</section>

<div class="widget">
    <h4>Temporary Links</h4>
    <pre>
      http://www.alistapart.com/articles/previewofhtml5
      https://localhost/monit/_status?format=xml
      http://www.fogcreek.com/FogBugz/docs/60/topics/advanced/API.html
      http://nrg.wustl.edu/hudson/rssAll?flavor=rss20
      http://nrg.wustl.edu/hudson/job/xnat_dev_1/1542/api/json
      https://10.28.112.17/hg/cnda_xnat/rss-log
      http://code.google.com/feeds/p/xnatfs/hgchanges/basic
      http://www.pingdom.com/services/api/
    </pre>
</div>

{% endblock %}
